<style>
    #imgzoom-div {
       display: none;
       position: fixed;
       z-index: 9999;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.8);
    }
  
    #imgzoom-img {
       display: block;
       max-width: 90%;
       max-height: 90%;
       margin: auto;
       margin-top: 5%;
    }
 </style>
  
 <img src="D:\1234\123\th911.github.io\img\bg\1.jpg" alt="图像" onclick="imgzoom_show(this)">
  
 <div id="imgzoom-div" onclick="imgzoom_hide()">
   <img id="imgzoom-img">
 </div>
  
 <script>
    function imgzoom_show(image) {
       var zoom = document.getElementById("imgzoom-div");
       var zoomimg = document.getElementById("imgzoom-img");
       zoom.style.display = "block";
       zoomimg.src = image.src;
    }
  
    function imgzoom_hide() {
        var zoom = document.getElementById("imgzoom-div");
        zoom.style.display = "none";
    }
 </script>

<script>
    var imgs = document.getElementsByTagName("img");
    for(var i=0;i<imgs.length;i++){
        var tag=imgs[i].getAttribute("onclick");
        imgs[i].setAttribute(tag + " imgzoom_show(this)");
    }
</script>