 <link rel="stylesheet" href="https://s4.zstatic.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
    
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://s4.zstatic.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://s4.zstatic.net/npm/katex/dist/contrib/auto-render.min.js" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
        delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false}
        ],
        macros: {
        "\\geqslant": "\\geq",
        "\\leqslant": "\\leq",
        "\\and": "\\land",
        "\\or": "\\lor",
        }
    });
    });
</script>