* {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}
::selection {
    background: green;
    color: #fff;
    text-shadow: none;
}
html, body {
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    color: #999;
    font-family: 'Microsoft Yahei','微软雅黑';
}
html {
    background-color: #1b2426;
}
header h1 {
    display: inline-block;
}
header h1 a {
    color: #bbb;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #eee;
    text-decoration: underline;
}
.imageBg {
    background: url(/project/XPlayer/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.colorBg {
    background-image: none;
}
.wrapper {
    text-align: center;
    width: 99%;
    margin: 0 auto;
}
#header {
    text-align: right;
    right: 20px;
    position: absolute;
    z-index: 999;
}
#player {
    margin: auto;
    position: fixed;
    bottom: 5px;
    opacity: 0.6;
    left: 0;
    right: 0;
    z-index: 9999;
}
#player:hover {
    opacity: 1;
}
#playlist_with_button {
    height: 80%;
    width: 50%;
}
#playlist {
    text-align: left;
    padding: 5px;
    position: absolute;
    left: 0;
    z-index: 999;
    background-color:#32323280;
}
#songimg {
    margin: auto;
    padding: 70px 70px 70px 70px;
    display: block;
    position: fixed;
    width: 100px;
    height: auto;
    right: 0;
    z-index: 999;
}
#cover_img{
    border: 5px solid #000;
    height: 70%;
    width: 70%;
}
.info a {
    color: #bbb;
    text-decoration: underline;
}
.bg {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
#bg_pic {
    background-color: #5493B6;
}
#bg_dark {
    background-color: #272822;
}
#playlist ol {
    height: 480px;
    overflow: auto;
    margin: 0;
}

@font-face {
    font-family: "fordefault";
    src: url("../fonts/default.woff2") format('woff2'),
    url("../fonts/default.woff") format('woff'),
    url("../fonts/default.ttc") format('ttc');
}
@font-face {
    font-family: "kaiti";
    src: url("../fonts/kaiti.woff2") format('woff2'),
    url("../fonts/kaiti.woff") format('woff'),
    url("../fonts/kaiti.ttf") format('ttf');
}
@font-face {
    font-family: "songti";
    src: url("../fonts/songti.woff2") format('woff2'),
    url("../fonts/songti.woff") format('woff'),
    url("../fonts/songti.ttc") format('ttc');
}
@font-face {
    font-family: "huawenxingkai";
    src: url("../fonts/huawenxingkai.woff2") format('woff2'),
    url("../fonts/huawenxingkai.woff") format('woff'),
    url("../fonts/huawenxingkai.ttf") format('ttf');
}
@font-face {
    font-family: "youyuan";
    src: url("../fonts/youyuan.woff2") format('woff2'),
    url("../fonts/youyuan.woff") format('woff'),
    url("../fonts/youyuan.ttf") format('ttf');
}
@font-face {
    font-family: "fangzhengshuti";
    src: url("../fonts/fangzhengshuti.woff2") format('woff2'),
    url("../fonts/fangzhengshuti.woff") format('woff'),
    url("../fonts/fangzhengshuti.ttf") format('ttf');
}

#lyricWrapper {
    overflow: scroll;
    position: relative;
    margin-top: 20px;
    color: #fff;
}

/*hide scrollbar of lyricWrapper*/
#lyricWrapper::-webkit-scrollbar
{
    display: none;
}

/* http://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */

#lyricContainer {
    position: relative;
    top: 130px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; 
}

@keyframes lyric_sync_letter {
    0% {
        background-size:0 100%;
    }
    100% {
        background-size:100% 100%;
    }
}
/*the highlight color of the current lyric line*/
.current-line-0 {
    width: auto;
    background:#fff -webkit-linear-gradient(left, #FAFA17, #FAFA17) no-repeat 0 0;
    color: transparent;
    text-shadow: none;
    font-weight: bolder;
    animation: lyric_sync_letter 2s linear;
}
.current-line-1 {
    width: auto;
    background:#fff -webkit-linear-gradient(left, #ff1493, #ff1493) no-repeat 0 0;
    color: transparent;
    text-shadow: none;
    font-weight: bolder;
    animation: lyric_sync_letter 2s linear;
}
.current-line-2 {
    width: auto;
    background:#fff -webkit-linear-gradient(left, #adff2f, #adff2f) no-repeat 0 0;
    color: transparent;
    text-shadow: none;
    font-weight: bolder;
    animation: lyric_sync_letter 2s linear;
}
.current-line-3 {
    width: auto;
    background:#fff -webkit-linear-gradient(left, #d731f8, #d731f8) no-repeat 0 0;
    color: transparent;
    text-shadow: none;
    font-weight: bolder;
    animation: lyric_sync_letter 2s linear;
}
.current-song-played, .current-song-played a {
    color: #1493dd;
}
.current-song, .current-song a {
    color: #A6E22D;
}
/* for the lyric to sync with word by time inline */


/*for song info*/
#songinfo_name{
    font-size: 20px;
    color: #fff;
}
#songinfo_artist{
    font-size: 15px;
    color: #bbb;
}
#songinfo_album{
    font-size: 15px;
    color: #bbb;
}
#songinfo{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align:center;
}

#playlist{
    color: #999;
}

/*custom scrollbar for webkit browsers*/
#playlist ol::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar
{
	width: 5px;
    border-radius: 15px;
	background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCBCBC;
}

/* for mobile */
#playlist_button{
    display:block;
    text-align: center;
    max-height: 30px;
    max-width: 200px;
    height: 30px;
    font-size: 18px;
    padding: 0px 20px 18px 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 2px solid #000;
    
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#playlist_button:after {
    content: "";
    background: #1493dd;
    display: block;
    position: relative;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#playlist_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* for menu */
.menu-item {
    margin-bottom: 10px;
}
.menu-title {
    cursor: pointer;
}
.menu-content {
    display: none;
}
.menu-content.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#controls {
    /* position: relative;
    z-index: 1000; */
    overflow: hidden;
    right: 0;
    height: 77px;
}

#menu-playmode {
    text-align: right;
    position: relative;
    right: 0;
}
#menu-font {
    text-align: right;
    position: relative;
    right: 0;
}

#menu-fontFamily {
    text-align: right;
    position: relative;
    right: 0;
}

.menu-title {
    width: auto;
}